*{
    margin: 0;
    font-size: 1.3rem;
}


.wrapper{
    min-height: 80vh;
    display: grid;
    gap: 10px;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-areas: 
    "header header header"
    "title title title"
    "banner banner bb1"
    "banner banner bb2"
    "side-menu main main"
    "tags main main"
    "recent main main"
    "footer footer footer"
    ;
}

/* The next line meaning to select all the children of .wrapper */
.wrapper > *{
    min-height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.header{
    background-color: rgb(73, 245, 245);
    grid-area: header;
}

.title{
    background-color: mediumorchid;
    grid-area: title;
}

.banner{
    background-color: blue;
    grid-area: banner;
}

.bb1{
    background-color: yellow;
    grid-area: bb1;
}

.bb2{
    background-color: purple;
    grid-area: bb2;
}

.side-menu{
    background-color: orange;
    grid-area: side-menu;
}

.recent{
    background-color: lightpink;
    grid-area: recent;
}

.tags{
    background-color: cyan;
    grid-area: tags;
}

.main{
    background-color: rgb(195, 236, 195);
    grid-area: main;
    display : flex;
    gap: 5px 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
    
.main > div{
    padding: 4rem;
    background-color: grey;
    margin:5px;
    flex-grow: 1;

}

footer{
    background-color: rgb(54, 50, 50);
    grid-area: footer;
    color: white;
}


@media (max-width:768px ){
    .wrapper{
        grid-template-areas: 
        "header header"
        "title title"
        "banner banner"
        "banner banner"
        "bb1 bb2"
        "main main"
        "main main"
        "side-menu tags "
        "recent recent"
        "footer footer"
        ;
    }
   
}

@media (max-width: 576px){
    .wrapper{
        grid-template-areas: 
        "header"
        "title"
        "banner"
        "banner"
        "bb1"
        "bb2"
        "main"
        "main"
        "side-menu"
        "tags"
        "recent"
        "footer"
        ;
    }

    
    
}

